* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif; }

body {
  background: #f5f5f5; }

/*css for header section start*/
header .top-header {
  color: #f5f5f5;
  font-size: 14px; }
  header .top-header .navbar {
    padding: 5px 0px; }
  header .top-header .navbar-collapse button:focus {
    border: 0px; }
  header .top-header .social-link a {
    color: #f5f5f5;
    margin: 0px 5px; }
  header .top-header .social-link a:hover {
    text-decoration: none;
    color: #51c2e4; }
  header .top-header .social-link a:first-child {
    margin-left: 0px; }
  header .top-header .social-link a:last-child {
    margin-right: 0px; }
header .bottom-header {
  background: #fff;
  position: -webkit-sticky; }
  header .bottom-header .navbar {
    padding: 5px 0px; }
    header .bottom-header .navbar .navbar-nav {
      margin-top: 29px; }
      header .bottom-header .navbar .navbar-nav .nav-link {
        padding: 5px 5px 5px 5px; }
      header .bottom-header .navbar .navbar-nav li a {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500; }
      header .bottom-header .navbar .navbar-nav li a:hover {
        color: rgba(0, 0, 0, 0.9);
        text-decoration: none; }
  header .bottom-header .logo img {
    height: 60px; }
  header .bottom-header .combo-btn {
    position: absolute;
    top: 0px;
    right: 0px; }
    header .bottom-header .combo-btn .login-btn, header .bottom-header .combo-btn .signup-btn {
      padding: 5px 10px;
      color: #fff;
      font-size: 13px; }
    header .bottom-header .combo-btn .login-btn {
      background: #51c2e4; }
    header .bottom-header .combo-btn .signup-btn {
      background: #ff6699; }
    header .bottom-header .combo-btn .login-btn:hover, header .bottom-header .combo-btn .signup-btn:hover {
      text-decoration: none;
      background-color: #343a40;
      transition: .5s linear; }
header .sticky-top {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5); }

/*end css for header section*/
/*css for footer section*/
footer .top-footer {
  background: #343a40;
  color: #f5f5f5;
  padding: 25px;
  font-size: 16px; }
  footer .top-footer h4 {
    text-transform: uppercase;
    color: #ff6699;
    font-size: 18px; }
  footer .top-footer ul {
    padding-left: 0px; }
    footer .top-footer ul li {
      list-style: none; }
  footer .top-footer a {
    color: #b9b9b9; }
  footer .top-footer a:hover {
    text-decoration: none;
    color: #f5f5f5; }
  footer .top-footer .fb, footer .top-footer .twitter, footer .top-footer .insta {
    display: inline-block;
    width: 35px;
    height: 35px;
    opacity: .7; }
  footer .top-footer .apple, footer .top-footer .play {
    display: inline-block;
    width: 120px;
    height: 30px;
    margin: 5px 0px;
    opacity: .7; }
  footer .top-footer .apple {
    margin-bottom: 0px; }
  footer .top-footer .fb:hover, footer .top-footer .twitter:hover, footer .top-footer .insta:hover, footer .top-footer .apple:hover, footer .top-footer .play:hover {
    opacity: 1; }
  footer .top-footer hr {
    margin: 10px; }
footer .bottom-footer {
  background: #222;
  padding: 5px 0px;
  font-size: 14px;
  color: #f5f5f5; }

/*end css for footer section*/
/*CSS start for banner section*/
#banner {
  background-image: url("../img/banner-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 150px 0px; }
  #banner .right-inner-addon {
    position: relative;
    margin: 0px auto; }
    #banner .right-inner-addon input[type="search"] {
      border: 2px solid #51c2e4;
      padding: 20px 10px;
      padding-right: 35px;
      border-radius: 0px;
      background-color: rgba(255, 255, 255, 0.9); }
    #banner .right-inner-addon i {
      position: absolute;
      right: 12px;
      padding: 16px;
      color: rgba(0, 0, 0, 0.5); }
    #banner .right-inner-addon i:hover {
      color: #ff6699; }

#services {
  background: #fff; }
  #services h4 {
    text-transform: uppercase;
    font-size: 20px; }
  #services p {
    color: #eee; }
  #services a {
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #fff;
    padding: 5px 8px;
    border: 1px solid; }
  #services a:hover {
    text-decoration: none;
    color: #343a40;
    background: #fff;
    border-color: #fff; }
  #services .service1, #services .service2, #services .service3 {
    padding: 20px;
    color: #fff; }
  #services .service1 {
    background: #375e97; }
  #services .service2 {
    background: #fb6542; }
  #services .service3 {
    background: #93c052; }
  #services .all-services {
    padding: 30px 0px; }
    #services .all-services .col-lg-9, #services .all-services .col-md-9, #services .all-services .col-sm-8 {
      padding-left: 0px; }
    #services .all-services .col-lg-3, #services .all-services .col-md-3, #services .all-services .col-sm-4 {
      padding-right: 0px; }
    #services .all-services a {
      background: #51c2e4;
      padding: 10px 15px; }
    #services .all-services a:hover {
      text-decoration: none;
      background: #343a40;
      transition: .5s linear; }

/*common css*/
input[type="text"]:focus, input[type="search"]:focus {
  box-shadow: none;
  border-color: #ff6699 !important; }

/*css for screen size */
@media (max-width: 991px) {
  .combo-btn-display {
    display: block; }

  .combo-btn {
    display: none; } }
@media (min-width: 992px) {
  .combo-btn-display {
    display: none; } }
@media (max-width: 576px) {
  .btn-view {
    display: flex;
    margin-top: 10px; }

  .all-services .col-lg-9, .all-services .col-md-9, .all-services .col-sm-8, .all-services .col-12 {
    padding-left: 15px !important; } }

/*# sourceMappingURL=style.css.map */
